* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "ride-the-fader";
	font-style: "normal";
	font-weight: 800;
	src: local("ride-the-fader"), url("../font/RideTheFader-1XKg.ttf") format("truetype");
}

body {
	overflow: hidden;
}

#score {
	font-family: "ride-the-fader";
	position: absolute;
	color: aqua;
	user-select: none;
	width: 101%;
	text-align: center;
}
