<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>" />
		<meta name="description" content="<%= htmlWebpackPlugin.options.description %>" />
		<meta name="author" content="<%= htmlWebpackPlugin.options.author %>" />
		<meta name="theme-color" content="#333333" />
		<link rel="manifest" href="manifest.json" />
		<link rel="apple-touch-icon" href="icons/icon_180x180.png" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<noscript>Sorry, your browser does not support JavaScript! :(</noscript>
		<div id="root"></div>
	</body>
</html>
